uav/build/
/build
build/
MAVSDK/
scripts/
eval_results.txt 
bin/
obj/
*.o
*.a
*.so
*.dylib

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake

.vscode/
.idea/
.DS_Store
*.swp
*.user

*.pt
*.weights
*.onnx

venv/
env/
__pycache__/
PX4-Autopilot/

test_videos/MAVSDK/

scripts/runs/

visdrone_yolo/

scripts/results_*.txt

scripts/output.csv
output.csv

scripts/__pycache__/
