uav/build/ 
bin/
obj/
*.o
*.a
*.so
*.dylib

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake

.vscode/
.idea/
.DS_Store
*.swp
*.user

*.pt
*.weights
*.onnx

venv/
env/
__pycache__/
PX4-Autopilot/

# Ignore test videos
test_videos/MAVSDK/
